{% extends 'admin-base.html' %}
{% load static %}

{% block content %}

       <!-- Container fluid -->
        <div class="container-fluid p-4">
          <div class="row">
            <!-- Page Header -->
            <div class="col-lg-12 col-md-12 col-12">
              <div class="border-bottom pb-4 mb-4 d-lg-flex align-items-center justify-content-between">
                <div class="mb-2 mb-lg-0">
                  <h1 class="mb-1 h2 font-weight-bold">Staff Users</h1>
                   <!-- Breadcrumb -->
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="admin-dashboard.html">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Support Users
                      </li>
                    </ol>
                  </nav>
                </div>
                <div>
                  <a href="{% url 'adminshop:support_create' %}" class="btn btn-primary"  data-target="#newCatgory">Add New
                    support user</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Card -->
              <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header border-bottom-0">
                  <!-- Form -->
                  <form class="d-flex align-items-center">
                     <span class="position-absolute pl-3 search-icon">
                      <i class="fe fe-search"></i>
                    </span>
                    <input type="search" class="form-control pl-6" placeholder="Search Category" />
                  </form>
                </div>
                <!-- Table -->
                <div class="table-responsive border-0 overflow-y-hidden">
                  <table class="table mb-0 text-nowrap">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="border-0">Full Name</th>
                        <th class="border-0">Username</th>
                        <th class="border-0">Email</th>

                        <th class="border-0">DATE CREATED</th>
                        <th class="border-0"></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for user in support_users %}
                       <tr>
                        <td class="align-middle">
                          <a href="#!" class="text-inherit">
                            <img class="rounded-circle center" src="{{user.userprofile.profile_picture.url}}" alt="user picture" width="50">
                          </a>
                        </td>
                        <td class="align-middle">
                          <a href="#!" class="text-inherit">
                            <h5 class="mb-0 text-primary-hover"> {{user.first_name}} {{user.last_name}}</h5>
                          </a>
                        </td>
                        <td class="align-middle">{{user.username}}</td>

                        <td class="align-middle">{{user.email}}</td>

                        
                        <td class="align-middle">{{user.date_joined}}</td>
                        <td class="text-muted align-middle">
                          <span class="dropdown dropleft">
                            <a class="text-muted text-decoration-none" href="#!" role="button" id="courseDropdown9"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>
                            <span class="dropdown-menu" aria-labelledby="courseDropdown9">
                              <span class="dropdown-header">Action</span>
                              <a class="dropdown-item" href="{% url 'adminshop:delete_support' user.pk %}"><i
                                  class="fe fe-trash dropdown-item-icon"></i>Delete</a>
                            </span>
                          </span>
                        </td>
                      </tr>
                    {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}