{% extends 'base.html' %}

{% block content %}

 <!-- Page Title-->
 <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="shop-grid-ls.html">Shop</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">Shopping cart</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- List of items-->
      <section class="col-lg-8">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
          <h2 class="h6 text-light mb-0">Products In My Cart</h2><a class="btn btn-outline-primary btn-sm ps-2" href="{% url 'discover:home' %}"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
        </div>
        <!-- Item-->
        {% if cart %}
      
        {% for item in cart %}
          <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
            <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="shop-single-v1.html"><img src="{{item.product.get_thumbnail}}" width="160" alt="Product"></a>
              <div class="pt-2">
                <h3 class="product-title fs-base mb-2"><a href="shop-single-v1.html">{{item.product.name}}</a></h3>
                
                <div class="fs-lg text-accent pt-2"> {{item.product.price|floatformat:3}}TND</div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
              <label class="form-label" for="quantity">Quantity :</label>
              <div class="col-xs-1" align="center">
                <a href="?change_quantity={{ item.id }}&quantity=-1"> - </a>  &nbsp;
                {{item.quantity}}
                <a href="?change_quantity={{ item.id }}&quantity=1"> + </a> &nbsp;
              </div>
              
             
            </div>
            <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
              <label class="form-label" for="quantity1">Subtotal </label>
              <div class="fs-lg text-accent pt-2"> {{ item.total_price|floatformat:3}}TND</div>
            </div>
            <a href="?remove_from_cart={{ item.id }}" ><button class="btn btn-primary btn-shadow ">Remove</button></a>
          </div>
                        
          {% endfor %}
         
          
     
        {%else%}
        <h3>You have no products in your cart yet ! </h3>
        {%endif%}
       
        
      </section>
     
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
        <div class="bg-white rounded-3 shadow-lg p-4">
          <div class="py-2 px-xl-2">
            <div class="text-center mb-4 pb-3 border-bottom">
              <h2 class="h6 mb-3 pb-1">Cart Total</h2>
              <h3 class="fw-normal">{{cart.get_total_cost }} TND </h3>
            </div>
            <div class="mb-3 mb-4">
              <label class="form-label mb-3" for="order-comments"><span class="badge bg-info fs-xs me-2">Note</span><span class="fw-medium">Additional comments</span></label>
              <textarea class="form-control" rows="6" id="order-comments"></textarea>
            </div>
            <div class="accordion" id="order-options">
              <div class="accordion-item">
                <h3 class="accordion-header"><a class="accordion-button" href="#promo-code" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Apply promo code</a></h3>
                <div class="accordion-collapse collapse show" id="promo-code" data-bs-parent="#order-options">
                  <!-- <form class="accordion-body needs-validation" method="" novalidate>
                    <div class="mb-3">
                      <input class="form-control" type="text" placeholder="Promo code" required>
                      <div class="invalid-feedback">Please provide promo code.</div>
                    </div>
                    <button class="btn btn-outline-primary d-block w-100" type="submit">Apply promo code</button>
                  </form> -->
                </div>
              </div>
            </div>
            <a class="btn btn-primary btn-shadow d-block w-100 mt-4" href="{% url 'cart:place_order' %}"><i class="ci-card fs-lg me-2"></i>Proceed to Checkout</a>
          </div>
        </div>
      </aside>
    </div>
  </div>

{% endblock  %}