{% extends 'base.html' %}

{% load static %}
{% block content%}

<!-- Page Title-->
 <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="#">Account</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Profile info</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">Profile info</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    
    <div class="row">

      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
        <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
          <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
            <div class="d-md-flex align-items-center">
              <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;"><span class="badge bg-warning position-absolute end-0 mt-n2" data-bs-toggle="tooltip" title="Reward points"></span><img class="rounded-circle" src="{{user.userprofile.profile_picture.url}}" alt="{{user.username}} Gardner"></div>
              <div class="ps-md-3">
                <h3 class="fs-base mb-0">{{user.username}}</h3><span class="text-accent fs-sm">{{user.email}}</span>
              </div>
            </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account menu</a>
          </div>
          <div class="d-lg-block collapse" id="account-menu">
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="#"><i class="ci-user opacity-60 me-2"></i>Profile info</a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="#"><i class="ci-location opacity-60 me-2"></i>Addresses</a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="#"><i class="ci-card opacity-60 me-2"></i>Payment methods</a></li>
              <li class="d-lg-none border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="#}"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
            </ul>
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'dashboard:stores' %}"><i class="ci-bag opacity-60 me-2"></i>Stores<span class="fs-sm text-muted ms-auto">1</span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'dashboard:orders' %}"><i class="ci-bag opacity-60 me-2"></i>Orders<span class="fs-sm text-muted ms-auto">1</span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'dashboard:wishlist' %}"><i class="ci-heart opacity-60 me-2"></i>Wishlist<span class="fs-sm text-muted ms-auto">3</span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'support:tickets' %}"><i class="ci-help opacity-60 me-2"></i>My tickets<span class="fs-sm text-muted ms-auto">1</span></a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{% url 'store:create_store' %}"><i class="ci-help opacity-60 me-2"></i>become vendor </a></li>
            </ul>
          </div>
        </div>
      </aside>

       <!-- Content-->
          <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
              <!-- Toolbar-->
              <div class="d-flex pt-lg-1 pb-4 pb-lg-8 pl-lg-1 mb-lg-3 ">
                <div class="order-lg-1 pe-lg-6 text-center text-lg-start">
                  <h1 class="h3 text-light mb-0">Order Details : </h1>
                </div>
            </div>
            <div>
              {% if order.status == 'New' or order.status == 'Accepted' or order.status == 'Compeleted' %}
              <div >
      
                <!-- Steps-->
                                             
                {% if order.status == 'New' %}
                                                 
                <div class="steps steps-dark pt-2 pb-3 mb-5"><a class="step-item active current" >
                  <div class="step-progress"><span class="step-count">1</span></div>
                  <div class="step-label"><i class="ci-cart"></i>Order Placed</div></a>
                  <a class="step-item " >
                  <div class="step-progress"><span class="step-count">2</span></div>
                  <div class="step-label"><i class="ci-user-package"></i>Order accepted & shipped
                   </div></a>
                   <a class="step-item " >
                  <div class="step-progress"><span class="step-count">3</span></div>
                  <div class="step-label"><i class="ci-check-circle"></i>Order received & Completed </div></a>
                </div>
              {% elif order.status == 'Accepted' %}
                 
                 <div class="steps steps-dark pt-2 pb-3 mb-5">
                   <a class="step-item active" >
                  <div class="step-progress"><span class="step-count">1</span></div>
                  <div class="step-label"><i class="ci-cart"></i>Order Placed</div></a>
                  <a class="step-item active curent">
                  <div class="step-progress"><span class="step-count">2</span></div>
                  <div class="step-label"><i class="ci-user-package"></i>Order accepted & shipped </div></a>
                  <a class="step-item ">
                  <div class="step-progress"><span class="step-count">3</span></div>
                  <div class="step-label"><i class="ci-check-circle"></i>Order received & Completed </div></a>
                </div>
              {% else %}
                 
                 <div class="steps steps-dark pt-2 pb-3 mb-5">
                  <a class="step-item active" >
                  <div class="step-progress"><span class="step-count">1</span></div>
                  <div class="step-label"><i class="ci-cart"></i>Order Placed</div></a>
                  <a class="step-item active">
                  <div class="step-progress"><span class="step-count">2</span></div>
                  <div class="step-label"><i class="ci-user-package"></i>Order accepted & shipped </div></a>
                  <a class="step-item active current">
                  <div class="step-progress"><span class="step-count">3</span></div>
                  <div class="step-label"><i class="ci-check-circle"></i>Order received & Completed </div></a>
                </div>
            
             {%endif%}
            </div>
            {%endif%}
            </div>
               <!-- Order Details Modal-->
            <div  id="order-details">
              <div class="m modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Order No - {{order.order_number}}</h5>
                  </div>
                  <div class="modal-footer flex-wrap justify-content-end bg-light fs-md">
                    {% if order.status == 'New' %}
                        <div > <span class="btn btn-primary btn-sm me-3">New order</span></div>
                    {% elif order.status == 'Accepted' %}
                    <div ><span class="btn btn-warning btn-sm me-3"><i class="ci-check me-1"></i>Accepted order</span></div>

                    {% elif order.status == 'Completed' %}
                        <div ><span class="btn btn-success btn-sm me-3"><i class="ci-check me-1"></i>Compeleted order</span></div>
                    {% else %}
                        <div ><span class="btn btn-danger btn-sm me-3"><i class="ci-cross me-1"></i>Canceled order</span></div>
                    {%endif%}

                    

                </div>
                  <div class="modal-footer flex-wrap justify-content-between bg-secondary fs-md">
                    <div class="px-2 py-1"><span class="text-muted">Order created at :&nbsp;</span><span>{{order.created_at}}</span> </div>
                    </div>
                  <div class="modal-body pb-0">
                    <!-- Item-->
                    {% for item in order.items.all %}

                    <div class="d-sm-flex justify-content-between mb-4 pb-3 pb-sm-2 border-bottom">
                      <div class="d-sm-flex text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto" href="#" style="width: 8rem;"><img src="{{item.product.image.url}}" alt="Product"></a>
                        <div class="ps-sm-4 pt-2">
                          <h3 class="product-title fs-base mb-2"><a href="#">{{item.product.name}}</a></h3>
                          <div class="text-muted mb-2">{{item.product.price}} TND </div>
                          <div><a class="product-meta d-block fs-xs pb-1" href="#"> from {{item.product.category}} category</a></div>
                          <div><a class="product-meta d-block fs-xs pb-1" href="#">By {{item.store}} </a></div>
                        </div>
                      </div>
                      <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
                        <div class="text-muted mb-2">Quantity:</div>{{item.quantity}}
                      </div>
                      <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
                        <div class="text-muted mb-2">Subtotal</div>{{item.get_total_price}} TND</small>
                      </div>
                    </div>
                    {%endfor%}
                  </div>
                  <!-- Footer-->
                  <div class="modal-footer flex-wrap justify-content-between bg-secondary fs-md">
                    <div class="px-2 py-1"><span class="text-muted">Amount to pay : &nbsp;</span><span>{{order.paid_amount}}TND</span></div>
                    <div class="px-2 py-1"><span class="text-muted">shipping :&nbsp;  &nbsp;</span><span>10 TND</span></div>
                 </div>
                </div>
              </div>
            </div>


            </div>
          </section>
    </div>
  </div>

  {% endblock %}